body {
  text-align: center;
}

form {
  text-align: center;
  max-width: 12em;
  margin: 0 auto;
}

button {
  margin-top: 1em;
  border-radius: 5px;
}

h1 {
  padding-top: 1.5em;
}

#toggle-btn {
  text-align: center;
  max-width: 14em;
  margin: 0 auto;
}

#book-parent-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#book-child-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 1em 1em 1em;
  margin: .5em .5em .5em .5em;
  border-style: inset;
  max-width: 16em;
  border-radius: 10px;
}

#form-and-card-div {
  display: flex;
  flex-direction: column;
}

#github {
  position: fixed;
  padding-top: 2em;
  margin-top: 2em;
  bottom: 10px;
  width: 100%;
}

/* modal styling */
/* Thank you: https://medium.com/@nerdplusdog/a-how-to-guide-for-modal-boxes-with-javascript-html-and-css-6a49d063987e */

.modal {
  display: block;
  position: fixed; 
  padding-top: 115px;
  left: 0; 
  top: 0;
  width: 100%;
  height: 100%; 
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative; 
  background-color: white;
  padding: 20px; 
  margin: auto; 
  width: 50%;  
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
.close-btn {
  float: center; 
  color: lightgray; 
  font-size: 24px;  
  font-weight: bold;
}
.close-btn:hover {
  color: darkgray;
}
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}